body{
    background-color: lightblue;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }


header{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header h1{
    
}

header img{
    border-radius: 180px;
    width: 350px;
    border: 10px solid whitesmoke;
}

main{
    text-align: center;
}

main img{
    width: 500px;
}