body{
    background-color: lightblue;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
      }


header{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header h1{
    color: #2b2f36;
}

header img{
    border-radius: 180px;
    width: 350px;
    border: 10px solid whitesmoke;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 100%;
}

main h2{
    color:#2b2f36;
}

main img{
    align-content: center;
    width: 500px;
}

a {
    color: white;
}

a:hover{
    color: violet;
}

footer{
    text-align: center;
    background-color: #483a94;
    padding: 25px;
}

footer p{
    margin: 0;
}